<% provide(:title, 'Home') %>
      <div class="row row-offcanvas">
        <div class="col-xs-12 col-sm-12">
          <div class="jumbotron">
            <h1>Gudavs!</h1>
            <p class="center">This will be the new site for our fun stuff.</p>
          </div>
        </div><!--/span-->

      </div><!--/row-->

